pyrogram
TgCrypto
yt-dlp
aiofiles
requests
aiohttp
ffmpeg-python
Pillow
motor
pymongo
fastapi
uvicorn
python-dotenv
psutil
rich
tqdm
python-dateutil
ujson
asyncio-throttle
loguru
python-magic
validators
distro
memory-profiler
pydantic
pydantic-settings
cachetools
concurrent-futures
cryptography
py7zr
mutagen
hachoir
httpx
supervisor
python-decouple
